body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

/* Style the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #222;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Style the logo */
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .logo a {
    color: inherit;
    text-decoration: none;
  }
  
  /* Style the navigation links */
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  
  }
  
  .nav-links li {
    margin-right: 2.3rem;
  }
  
  .nav-links a {
    color: inherit;
    text-decoration: none;
    transition: color 0.5s ease;
  }
  
  .nav-links a:hover {
    color: #ebcb18;
    font-size: 1.3rem;
  }
  
  /* Style the hamburger menu */
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .spaceship {
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .spaceship::before,
  .spaceship::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease;
  }
  
  .spaceship::before {
    top: -5px;
    left: -5px;
  }
  
  .spaceship::after {
    bottom: -5px;
    right: -5px;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .menu-toggle {
      display: block;
    }
  }
  
  /* Animation for spaceship menu */
  .menu-toggle.active .spaceship {
    transform: rotate(90deg);
  }
  
  .menu-toggle.active .spaceship::before {
    transform: translateX(10px) rotate(45deg);
  }
  
  .menu-toggle.active .spaceship::after {
    transform: translateX(-10px) rotate(-45deg);
  }


/* Style the overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex; /* Make it visible by default */
    justify-content: center;
    align-items: center;
    z-index: 2; /* Set z-index to ensure it appears on top of other elements */
  }
  
  /* Style the content box */
  .content {
    background-color: #fff;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin: auto 15px;
  }
  
  /* Style the heading */
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  /* Style the button */
  .yes-btn {
    padding: 1rem 2rem;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .ok-btn:hover {
    background-color: #333;
  }
  
  
  
  
.container {
    font-size: 6px;
    width: 40em;
    height: 40em;
    position: relative;
    /* margin: 100px auto; */
}
img{
    height: 130%;
    width: 130%;
}
.sun {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0 0 3em rgb(255, 128, 0);
    animation: orbit 50s linear infinite;
}
.mercury,
.venus,
.earth,
.moon,
.mars,
.jupiter,
.saturn,
.uranus,
.neptune,
.pluto {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.mercury {
    top: 12.5em;
    left: 12.5em;
    width: 15em;
    height: 15em;
    animation: orbit 68.7s linear infinite;
}

.venus {
    top: 10em;
    left: 10em;
    width: 20em;
    height: 20em;
    animation: orbit 48.7s linear infinite;
}

.earth {
    top: 6em;
    left: 6em;
    width: 28em;
    height: 28em; 
    animation: orbit 36.5s linear infinite;   
}
.moon {
    top: 2em;
    right: -1em;
    width: 7em;
    height: 7em; 
    animation: orbit 2.7s linear infinite;
}
.mars {
    top: 2em;
    left: 2.5em;
    width: 36em;
    height: 36em; 
    animation: orbit 26.5s linear infinite;
}
.jupiter {
    top: -2em;
    left: -2em;
    width: 45em;
    height: 45em; 
    animation: orbit 21s linear infinite;
}
.saturn {
    top: -7em;
    left: -7em;
    width: 55em;
    height: 55em; 
    animation: orbit 17s linear infinite;
}
.uranus {
    top: -12em;
    left: -12em;
    width: 65em;
    height: 65em; 
    animation: orbit 19s linear infinite;
}
.neptune {
    top: -17em;
    left: -17em;
    width: 75em;
    height: 75em; 
    animation: orbit 15s linear infinite;
}
.pluto {
    top: -22em;
    left: -22em;
    width: 85em;
    height: 85em; 
    animation: orbit 18s linear infinite;
}

.mercury::before,
.venus::before,
.earth::before,
.moon::before,
.mars::before,
.jupiter::before,
.saturn::before,
.uranus::before,
.neptune::before,
.pluto::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    animation: orbit 30s linear infinite;
}
.mercury::before {
    top: 1.5em;
    right: 0.8em;
    width: 2em;
    height: 2em;
    background-image: url('./Images/favicon_io/mercury.png');
    background-size: cover;
}
.venus::before {
    top: 2em;
    right: 2em;
    width: 2em;
    height: 2em;
    background-image: url('./Images/favicon_io/venus.png');
    background-size: cover;
}
.earth::before {
    top: 3em;
    right: 0em;
    width: 5em;
    height: 5em;
    background-image: url('./Images/favicon_io/earth.png');
    background-size: cover;
}

.moon::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-image: url('./Images/favicon_io/moon.png');
    background-size: cover;
}
.mars::before {
    top: 5em;
    right: 3em;
    width: 3em;
    height: 3em;
    background-image: url('./Images/favicon_io/mars.png');
    background-size: cover;
}
.jupiter::before {
    top: 6em;
    right: 3em;
    width: 5em;
    height: 5em;
    background-image: url('./Images/favicon_io/jupiter.png');
    background-size: cover;
}
.saturn::before {
    top: 7.5em;
    right: 5em;
    width: 4.5em;
    height: 4.5em;
    background-image: url('./Images/favicon_io/saturn.png');
    background-size: cover;
}
.uranus::before {
    top: 9em;
    right: 6.5em;
    width: 4em;
    height: 4em;
    background-image: url('./Images/favicon_io/uranus.png');
    background-size: cover;
}
.neptune::before {
    top: 10em;
    right: 8em;
    width: 4em;
    height: 4em;
    background-image: url('./Images/favicon_io/neptune.png');
    background-size: cover;
}
.pluto::before {
    top: 11em;
    right: 10em;
    width: 4em;
    height: 4em;
    background-image: url('./Images/favicon_io/pluto.png');
    background-size: cover;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
}
.star:hover{
    filter: brightness(50%);
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}